<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">

    <title>Forage</title>
</head>

<style>
    body {
      background-image: url('static/imgs/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
<body>
    <header class="site-header">
      <!-- TODO: fix nav bar to OI, custom search, auto rent, feedback, etc. -->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Forage</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('landing.about') }}">Product</a>
              <a class="nav-item nav-link" href="{{ url_for('landing.about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">


      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      
      <div class="home vsc-initialized">
        <section id="opener">
          <h1> Data Driven Decision Making</h1>
          <p> We do the hard work so you don't have to.</p>
        </section>
        <section>
          <div class="container">
          <div class="row">
            <div class="panel" id="left">
              <h2>Collect</h2>
              <p>
                We aggregate data from
                <ul>
                  <li>Federal, state, and local governments</li>
                  <li>Planning agencies</li>
                  <li>Internet activity</li>
                  <li>And more...</li>
                </ul> 
                
              </p>
            </div>
            <div class="panel" id="center">
              <h2>Package</h2>
              <p>We package data into
                <ul>
                  <li>Historical trends</li>
                  <li>Different geographic granularities</li>
                  <li>Easily digestable metrics</li>
                  <li>100s of charts and graphs</li>
                </ul>
              </p>
            </div>
            <div class="panel" id="right">
              <h2>Analyze</h2>
              <p>We use machine learning to</p>
              <ul>
                <li>Forecast demand</li>
                <li>Predict neighborhood trends</li>
                <li>Understand planning decisions</li>
                <li>Learn leading indicators of value</li>
              </ul>
            </div>
          </div>
          </div>
        </section>
      </div>
      


    
      
    </main>

    <div id="page-bottom-landing">
        <footer></footer>
                <p>&copy; Forage Technologies</p>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type=text/javascript src="{{
      url_for('static', filename='jquery-3.4.1-uncompressed.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>